{% extends "admin/layout.html" %}


{% block title %}
    Dashboard
{% endblock %}

{% block main %}

    <div class="alert alert-danger" role="alert" style="display : none" id="alert" >
    </div>

    <div>

    </div>

    <!-- <form action="/admin/dashboard/announcement" method="post" class="">
        <div class="form-group">
            <label for="announcement" class="col-sm-2 col-form-label">Announcement</label>
            <textarea class="textarea" id="announcement" rows="3"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Set Announcement</button>
    </form> -->

    <h2>Statistics</h2>
    <div class="stats">
        <h3>Bookings Today</h3>
        <ul class="list-group">
            <li class="list-group-item">
                Total bookings today : {{ order1[0]["total"] }}
            </li>
            <li class="list-group-item">
                Total uncancelled bookings today : {{ order2[0]["total"] }}
            </li>
            <li class="list-group-item">
                Total cancelled bookings today : {{ order3[0]["total"] }}
            </li>
        </ul>
        <h3>New admin/members</h3>
        <ul class="list-group">
            <li class="list-group-item">
                Unapproved admins : {{ order4[0]["total"] }}
            </li>
            <li class="list-group-item">
                Total new members joined today : {{ order5[0]["total"] }}
            </li>
        </ul>
    </div>

    <script>



    window.addEventListener("DOMContentLoaded", function(){
        var url_string = window.location.href
        var url = new URL(url_string);
        var msg = url.searchParams.get("msg");

        console.log(msg)

        if (msg != null) {
            document.getElementById("alert").innerText = msg
            document.getElementById("alert").style.display = "block"
        } else {
            document.getElementById("alert").style.display = "none"
        }

    })




        
    </script>

    <style>

        .textarea {
            display : block;
            width :100%;
            padding : 0.375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            color : #495057;
            background-color: #fff;
            background-clip : padding-box;
            border : 1px solid #ced4da;
            border-radius : 0.25rem;
            transition : border-color .15s ease-in-out,box-shadow .15s ease-in-out
        }

        .stats h3{
            text-align: left;
        }

    </style>

{% endblock %}
